.title {
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    left: 58%;
    position: absolute;
    text-align: center;
    top: 27%;
    width: 20%;
    border : 2.5px;
    border-style: solid;
}

.title2 {
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    left: 28%;
    position: absolute;
    text-align: center;
    top: 27%;
    width: 20%;
    border : 2.5px;
    border-style: solid;
}

.signup {
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    left: 58%;
    position: absolute;
    text-align: center;
    top: 37%;
    width: 20%;
    border : 2.5px;
    border-style: solid;
}

.login {
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    left: 28%;
    position: absolute;
    text-align: center;
    top: 37%;
    width: 20%;
    border : 2.5px;
    border-style: solid;
}